<div id="<%= dom_id recipe %>">
  <% if recipe.photo.attached? %>
    <p>
      <%= image_tag recipe.photo %>
    </p>
  <% end %>

  <h1><%= recipe.name %></h1>

  <p>
    <strong>Category:</strong>
    <%= recipe.category_id %>
  </p>

  <div id="favorite_button">
    <%= render "favorite_button", recipe: recipe %>
  </div>

  <%= simple_format recipe.description %>

  <h2>Ingredients</h2>

  <%=
    Commonmarker.to_html(recipe.description, options:{
      parse: { smart: true },
      render: { hardbreaks: false}
    }).html_safe
  %>

  <h2>Instructions</h2>

  <%=
    Commonmarker.to_html(recipe.instructions, options:{
      parse: { smart: true },
      render: { hardbreaks: false}
    }).html_safe
  %>
</div>
