<div id="<%= dom_id recipe %>">
  <% if recipe.photo.attached? %>
    <p>
      <%= image_tag recipe.photo %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

</div>

<div id="favorite_button">
  <%= render "favorite_button", recipe: recipe %>
</div>
