<div id="<%= dom_id recipe %>">
  <% if recipe.photo.attached? %>
    <p>
      <%= image_tag recipe.photo %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

</div>

<% if signed_in? %>
  <% if favorite = current_user.favorites.find_by(recipe: recipe) %>
    <%= button_to "un-favorite", [recipe, favorite], method: :delete %>
  <% else %>
    <%= button_to "favorite", [recipe, recipe.favorites.build] %>
  <% end %>
<% end %>
